<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-primary my-5"
      (click)="onlyOdd = !onlyOdd">Only Show Odd Numbers</button>
        <br>
        <ul class="list-group">
          <div *ngIf="onlyOdd">
          <li 
          class="list-group-item"
          [ngClass]="{'odd': odd % 2 !==0}"
          [ngStyle]="{'background': odd % 2 !==0 ? 'red' : 'transparent' }"
          *ngFor="let odd of oddNumbers">
          {{odd}}
          </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
          <li 
          class="list-group-item"
          [ngClass]="{'even': even % 2 ==0}"
          [ngStyle]="{'background': even % 2 ==0 ? 'yellow' : 'transparent' }"
          *ngFor="let even of evenNumbers">
          {{even}}
          </li>
        </div>
        <ng-template [ngIf]= "!onlyOdd">
          <div>
            <li 
            class="list-group-item"
            [ngClass]="{'even': even % 2 ==0}"
            [ngStyle]="{'background': even % 2 ==0 ? 'purple' : 'transparent' }"
            *ngFor="let even of evenNumbers">
            {{even}}
            </li>
          </div>
        </ng-template> -->
        
         <div *appUnless="onlyOdd">
          <li 
          class="list-group-item"
          [ngClass]="{'even': even % 2 ==0}"
          [ngStyle]="{'background': even % 2 ==0 ? 'yellow' : 'transparent' }"
          *ngFor="let even of evenNumbers">
          {{even}}
          </li>
        </div>

        </ul>
      </div>
     </div>
  <p appBasicHighlight>Style with Basic directives</p>

  <!-- <p appBetterHightlight [defaultColor]= "'purple'" [highlightColor]="'pink'">Style with a better (renderer)  directives</p> -->
  <p [appBetterHightlight]="'black'"  defaultColor= "red" >Style with a better (renderer)  directives</p>
     
  <div [ngSwitch]="value">
    <p *ngSwitchCase="5"> Value is 5</p>
    <p *ngSwitchCase="10"> Value is 10</p>
    <p *ngSwitchCase="100"> Value is 100</p>
    <p *ngSwitchDefault> Value is default</p>

  </div>

</div>

